<div class="post-image">
	<div class="img-thumbnail">
		<a href="{{ url }}">
			{{ content.field_thumbnail }}
		</a>
	</div>
</div>
<div class="post-info">
	<a href="{{ url }}" class="tabbed-title">{{ label }}</a>
	<div class="post-meta">
		{{ node.createdtime|date('M d, Y') }}
	</div>
</div>
{{ content|without('field_thumbnail') }}
