{% if title %}
	<h3>{{ title }}</h3>
{% endif %}

<ul class="nav nav-list primary pull-bottom">
{% for row in rows %}
	{%
	set row_classes = [
	default_row_class ? 'view-row',
	]
	%}
	<li{{ row.attributes.addClass(row_classes) }}>
		{{ row.content }}
	</li>
{% endfor %}
</ul>
