html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 0 0 0.4375em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 0.65625em;
}

h3 {
  font-size: 1.625em;
  font-weight: normal;
  margin: 0 0 0.80769em;
  color: #0088CC;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0 0 1.05em;
  color: #0088CC;
}

h5 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0 0 1.05em;
  color: #0088CC;
  text-transform: uppercase;
}

h6 {
  font-size: 0.875em;
  font-weight: normal;
  margin: 0 0 1.5em;
  color: #333333;
}

/* Links */
a {
  color: #0088CC;
}

a:hover {
  color: #0099e6;
}

a:active {
  color: #0088CC;
}

/* Blockquote */
blockquote {
  font-size: 1em;
}

/* Paragraphs */
p {
  color: #777777;
  margin: 0 0 1.3125em;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border: 0 none;
}

hr {
  border-top: 1px solid #D4D4D4;
  border-bottom: none;
  margin: 0 auto;
  max-width: 235px;
  position: relative;
}

hr:after {
  border-top: 1px solid #0088CC;
  content: "";
  position: absolute;
  top: -1px;
  right: 30%;
  bottom: 0;
  left: 30%;
}

/* Header */
.header {
  background: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 200;
}

/* Header Top */
.header-top {
  height: 30px;
  border-bottom: 1px solid #EBEBEB;
  border-top: 2px solid #0088CC;
}

/* Header Nav */
.header-nav {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 48em) {
  .header-nav {
    padding-bottom: 0;
  }
}

/* Sticky Header */
.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1001;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-top: 2px solid #0088CC;
}

.sticky .header-top {
  display: none;
}

/* Footer */
#footer {
  background: #121214;
  border-top: 4px solid #1F1F1F;
  font-size: 0.9em;
  position: relative;
  clear: both;
}

#footer .main-footer {
  padding: 60px 15px 0 15px;
  margin-bottom: 40px;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer a {
  color: #FFFFFF;
}

#footer h2 {
  font-size: 1.8em;
  margin-bottom: 14px;
  line-height: 27px;
}

#footer .contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Copyright */
#footer .footer-copyright {
  background: #23282d;
  padding: 20px 0;
  margin-top: 30px;
}

#footer .footer-copyright p {
  color: #b4b7ba;
  margin: 0px;
  line-height: 30px;
}

@media (max-width: 48em) {
  #footer .block {
    margin-bottom: 3em;
  }
}

/* Page Top */
.page-top {
  background-color: #171717;
  border-bottom: 3px solid #CCC;
  border-top: 3px solid #384045;
  padding: 10px 0;
  position: relative;
  text-align: left;
}
.page-top h1 {
  border-bottom: 3px solid #0088CC;
  color: #FFF;
  display: inline-block;
  font-weight: 200;
  margin: 0 0 -13px;
  font-size: 2.5em;
  line-height: 46px;
  padding: 0 0 6px;
  position: relative;
}

/* Content */
.content {
  margin-bottom: 35px;
  margin-top: 35px;
}

.region-after-content {
  background-color: #f5f6f8;
  padding-bottom: 35px;
  border-top: 1px solid #ddd;
}

#section1 {
  display: block;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  background: url(../img/background.jpg) no-repeat fixed center top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.section {
  position: relative;
  padding: 40px 0 40px 0;
  display: block;
}

.headline {
  display: block;
  position: absolute;
  text-align: center;
  top: 48%;
  width: 100%;
  z-index: 111;
}

.headline div.flexslider {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: block;
  text-align: center;
  width: 100%;
}

.flexslider {
  margin: 0 0 60px;
  background: #FFFFFF;
  border: 4px solid #FFFFFF;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  zoom: 1;
}

.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 11;
  height: 60px;
  width: 70px;
  margin-left: -35px;
  background: rgba(0, 136, 204, 0.8) url(../img/bg-arrow-down.png) no-repeat 21px 26px;
  background-size: 28px 16px;
  text-indent: -9999px;
  display: block;
}

#section1 h2 {
  color: #FFFFFF;
  margin-bottom: 4px;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 700;
}

#section1 p {
  color: #FFFFFF;
}

/* Our Services */
#block-ourservices {
  text-align: center;
}
#block-ourservices h2 {
  text-transform: uppercase;
}
#block-ourservices p.block-subtitle {
  padding: 15px 0;
  font-size: 1.25em;
}

/* Our Features */
#block-ourfeatures {
  margin-top: 4em;
}
#block-ourfeatures .service {
  padding-left: 60px;
  position: relative;
  margin-bottom: 20px;
}
#block-ourfeatures .service-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  text-align: center;
  display: block;
  border-radius: 100em;
}

.layout-sidebar-second .block {
  margin-bottom: 3em;
}

/* Post */
.post {
  margin-left: 60px;
}
.post .post-image {
  margin-left: -60px;
  margin-bottom: 15px;
}
.post .post-image img {
  max-width: 100%;
  height: auto;
}
.post .post-date {
  margin-left: -60px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  float: left;
  margin-right: 10px;
  text-align: center;
}
.post .post-date .month {
  background: #0088cc;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 0 10px 2px;
}
.post .post-date .day {
  background: #F4F4F4;
  border-radius: 2px 2px 0 0;
  color: #0088cc;
  display: block;
  font-size: 16px;
  font-weight: 500;
  font-weight: bold;
  padding: 10px;
}
.post .post-content h2 {
  margin-bottom: 5px;
}
.post .post-content h2 a {
  text-decoration: none;
}
.post .post-meta {
  font-size: 0.9em;
  margin-bottom: 7px;
}
.post .post-meta > span {
  display: inline-block;
  padding-right: 8px;
}
.post .post-meta i {
  margin-right: 3px;
}
.post .post-meta ul {
  display: inline-block;
  padding: 0;
}
.post .post-meta ul li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 0;
}
.post .post-meta ul li:after {
  content: ',';
}
.post .post-meta ul li:last-child:after {
  content: none;
}
.post .post-share {
  margin: 55px 0 0 0;
  border-top: 1px solid #DDD;
  padding-top: 30px;
  padding-bottom: 30px;
}

.post .post-share h3 {
  text-transform: none;
}

.post .post-block {

  margin: 15px 0 0 0;
  padding: 20px 0 15px 0;
}
.post .post-block h3 {
  font-size: 1.8em;
  font-weight: 200;
  margin: 0 0 20px;
  text-transform: none;
}
.post .post-block h3 i {
  margin-right: 7px;
}

.post--listing {
  border-bottom: 1px solid #DDD;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.post-info a:hover {
  background: none;
}

.landing h3 {
  margin-bottom: .25em;
}

.landing h4 {
  color: #808b8d;
  padding-bottom: 1em;
  border-bottom: 2px solid #EBEBEB;
}

@media (max-width: 48em) {
  .featured-image {
    margin-bottom: 2em;
  }
}

/* Contact Page */
.map {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: #e5e3df;
  margin-bottom: 35px;
}

.contact-intro {
  text-align: center;
  margin-bottom: 35px;
}
.contact-intro h3 {
  margin-bottom: 15px;
}

/* Search Page */
#block-octo-content h2 {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 32px 0;
}

.search-page-form {
  margin-bottom: 2em;
}

.search-page-form label {
  font-weight: normal;
  display: block;
  margin-bottom: .5em;
}

.search-page-form .form-item {
  margin-bottom: 1em;
  display: block;
}

.search-page-form .form-submit {
  margin-left: 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0088cc;
  border-color: #0088cc #0088cc #006699;
}

.search-page-form .form-submit:hover {
  color: #ffffff;
  border-color: #0099e6 #0099e6 #0077b3;
  background-color: #0099e6;
}

.search-page-form .search-help-link {
  display: none;
}

.search-page-form .search-advanced {
  display: none;
}

.search-results {
  padding-left: 0;
}
.search-results .search-result {
  padding-bottom: 1em;
}
.search-results .search-result h3 {
  margin-bottom: .5em;
  font-weight: normal;
  text-transform: capitalize;
}

/* Search API */
.search-block-form form label {
    display: none;
}

.search-block-form form #edit-term {
    border: none;
    box-shadow: none;
    font-size: 20px;
    line-height: 26px;
    height: 46px;
    color: #CCCCCC;
    outline: none;
}

.search-index h3 {
    margin-bottom: 2em;
    font-size: 24px;
}

#block-socialicons {
  float: right;
}

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  color: #333333;
  background-color: #FFFFFF;
  border-color: #ccc;
}
.button:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.button--primary {
  color: #FFFFFF;
  border-color: #0088CC;
  background-color: #0088CC;
}
.button--primary:hover {
  color: #FFFFFF;
  background-color: #0099e6;
  border-color: #a1a1a1;
}

.button--xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.button--xs:hover {
  text-decoration: none;
}

.button--icon {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #0088CC;
}

/* Commnents thread */
#comments {
  margin-top: 15px;
  border-top: 1px solid #DDD;
}
#comments .comment {
  margin-bottom: 10px;
  clear: both;
  padding: 10px 0 0 115px;
}
#comments .comment .img-thumbnail {
  margin-left: -115px;
  position: absolute;
}
#comments .comment .comment-block {
  background: #F4F4F4;
  border-radius: 5px;
  padding: 20px 20px 30px;
  position: relative;
}
#comments .comment .comment-block .comment-arrow {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #F4F4F4;
  border-top: 15px solid transparent;
  height: 0;
  left: -15px;
  position: absolute;
  top: 28px;
  width: 0;
}
#comments .comment .comment-block .comment-by {
  padding: 0 0 5px 0;
}
#comments .comment .comment-block .comment-by .links {
  display: inline;
}
#comments .comment .comment-block .comment-by .links li {
  text-transform: lowercase;
  display: inline;
  padding-left: 10px;
}
#comments .comment .comment-block .comment-date {
  color: #999;
  font-size: 0.9em;
}
#comments .indented {
    margin-left: 100px;
}

/* Comment form */
.comment-form .form-item {
    margin-bottom: 1em;
}

.comment-form .form-item label {
    font-weight: normal;
}

.comment-form .filter-wrapper {
  border: none;
}

.comment-form .filter-guidelines {
  display: none;
}

.form-text, .form-email {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  height: 34px;
  padding: 6px 12px;
}

.form-textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}

/* Contact form */
.contact-form .form-item {
    margin-bottom: 1em;
}

/* Nav List */
ul.nav-list.primary > li {
  margin: 0;
  padding: 0;
}

ul.nav-list.primary > li a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url(../img/list-primary.png);
  background-position: 9px 16px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #EDEDDE;
  padding: 8px 20px;
}

/* Simple Post List */
ul.simple-post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.simple-post-list li {
  border-bottom: 1px dotted #E2E2E2;
  padding: 15px 0 30px 0;
}

ul.simple-post-list li:last-child {
  border-bottom: 0;
}

ul.simple-post-list .post-image {
  float: left;
  margin-right: 12px;
}

ul.simple-post-list .post-meta {
  color: #888;
  font-size: 0.8em;
}

.navbar-header .logo {
  float: left;
}
@media (max-width: 48em) {
  .navbar-header .logo {
    margin-left: 15px;
  }
}

.navbar-header .logo a {
  height: 60px;
  width: 163px;
  display: block;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
}

.navbar-header .logo a img {
  height: 50px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  vertical-align: middle;
}

@media (max-width: 48em) {
  .navbar-main {
    background: #000000;
  }
}

.navbar-main .nav {
  margin-top: 12px;
  float: right;
  position: relative;
  margin-right: 36px;
}
@media (max-width: 48em) {
  .navbar-main .nav {
    background: #000000;
    float: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
  }
}

@media (max-width: 48em) {
  .nav-pills > li {
    float: none;
  }
}

@media (max-width: 48em) {
  .nav-pills > li > a {
    border: none;
    color: #FFFFFF;
    background-color: transparent;
  }
}

.navbar-main .nav > li a:hover {
  background-color: #0088CC;
  color: #FFFFFF;
}
@media (max-width: 48em) {
  .navbar-main .nav > li a:hover {
    background-color: transparent;
  }
}

.navbar-main .nav > li a.is-active {
  background-color: #0088CC;
  color: #FFFFFF;
}
@media (max-width: 48em) {
  .navbar-main .nav > li a.is-active {
    background-color: transparent;
  }
}

.pager__items {
  clear: both;
  margin: -10px 0 20px;
  float: right;
}

.pager__items > li > a {
  border-radius: 0;
}

.pager__items > li:first-child > a {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pager__items > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pager__item {
  display: inline;
  padding: 0;
}

.pager__item a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ccc;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pager__item.is-active a {
  font-weight: bold;
  background-color: #0088CC;
  color: #FFFFFF;
}

.navbar-search {
  position: absolute;
  right: 0;
  width: 50%;
  padding-right: 15px;
}
@media (max-width: 48em) {
  .navbar-search {
    display: none;
  }
}

.navbar-search .search-icons {
  position: relative;
}

.navbar-search .search-icons a {
  position: absolute;
  right: 0;
}

.navbar-search .search-icons .close-form {
  display: none;
}

.navbar-search .search-icons a i {
  cursor: pointer;
  float: right;
  width: 36px;
  height: 36px;
  line-height: 37px;
  margin-left: 20px;
  background: #f5f6f8;
  border-radius: 50%;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 23px;
}

.navbar-search .search-block-form {
  position: relative;
  display: none;
}

.navbar-search form {
  position: absolute;
  right: 50px;
  top: 4px;
  width: 100%;
  z-index: 3;
}

.navbar-search .form-item {
  margin-top: .5em;
}

.navbar-search .form-control {
  border: none;
  box-shadow: none;
  font-size: 20px;
  line-height: 26px;
  height: 46px;
  color: #CCCCCC;
}

.navbar-search .form-actions {
  display: none;
}

/* Social Icons */
ul.social-icons {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.social-icons > li {
  list-style: none;
  margin-left: 1px;
  display: inline-block;
}

ul.social-icons > li > a {
  color: #808B8D;
}

ul.social-icons > li i {
  width: 34px;
  line-height: 28px;
  border-right: 1px solid #F2F2F2;
  font-size: 16px;
}

ul.social-icons > li:last-child i {
  border-right: none;
}

ul.social-icons .fa-facebook:hover {
  background: #507CBE;
  color: #FFFFFF;
}

ul.social-icons .fa-linkedin:hover {
  background: #007bb6;
  color: #FFFFFF;
}

ul.social-icons .fa-twitter:hover {
  background: #63CDF1;
  color: #FFFFFF;
}

ul.social-icons .fa-google-plus:hover {
  background: #F16261;
  color: #FFFFFF;
}

footer .social-icons {
  text-align: right;
  float: right;
}

footer .social-icons > li a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: 10px;
  color: #b4b7ba;
}

footer .social-icons > li i {
  background: transparent;
  border-radius: 4px;
  border-right: none;
}

div.tabs {
  border-radius: 4px;
  margin-bottom: 35px;
}

nav.tabs {
  margin-bottom: 1em;
}

.tabs a {
  padding: 0;
}

.nav-tabs {
  margin: 0;
  font-size: 0;
  border-bottom-color: #EEE;
}

.nav-tabs li {
  display: inline-block;
  float: none;
}

.nav-tabs li:last-child a {
  margin-right: 0;
}

.nav-tabs li a {
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  margin-right: 1px;
}

.nav-tabs li a, .nav-tabs li a:hover {
  background: #F4F4F4;
  border-bottom: none;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-top: 3px solid #EEE;
  color: #CCC;
}

.nav-tabs li a:hover {
  border-bottom-color: transparent;
  border-top: 3px solid #CCC;
  box-shadow: none;
}

.nav-tabs li a:active, .nav-tabs li a:focus {
  border-bottom: 0;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  background: #FFFFFF;
  border-left-color: #EEE;
  border-right-color: #EEE;
  border-top: 3px solid #CCC;
  color: #CCC;
}

.tabs ul.nav-tabs a,
.tabs ul.nav-tabs a:hover {
  color: #0088cc;
}

.tabs ul.nav-tabs a:hover {
  border-top-color: #0088cc;
}

.tabs ul.nav-tabs li.active a {
  border-top-color: #0088cc;
  color: #0088cc;
}

.tab-content {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #FFFFFF;
  border: 1px solid #EEE;
  border-top: 0;
  padding: 15px;
}

.tabbed-title {
  font-size: 12px;
}

/* Team Teaser view mode */
.team {
  margin-bottom: 2em;
  padding: 0 18px;
  text-align: center;
}
@media (max-width: 48em) {
  .team {
    padding: 0 32px;
  }
}
@media (min-width: 48.0625em) {
  .team {
    padding: 0 32px;
  }
}
.team .img-round {
  border-radius: 50%;
  margin: 0 auto 10px auto;
  width: 250px;
}
.team .img-round .img-border {
  border-radius: 50%;
}
.team .img-round img {
  border-radius: 50%;
}
.team .img-link {
  display: block;
  overflow: hidden;
  padding: 0;
  border: 0;
}
.team .img-border {
  display: block;
  position: relative;
  border: 4px solid #D4D4D4;
  overflow: hidden;
  -moz-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
.team .img-grayscale-hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease-in-out 0s;
}
.team .img-grayscale-hover img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.team h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .5em;
}
.team p {
  font-style: italic;
  color: #0088CC;
}
.team .button--icon {
  color: #0088CC;
  font-size: 1.125em;
}
.team .fa-facebook:hover {
  color: #507CBE;
}
.team .fa-twitter:hover {
  color: #63CDF1;
}
.team .fa-google-plus:hover {
  color: #F16261;
}

/* View - Meet the Team */
.team {
  padding-top: 3.125em;
}
.view-header {
  text-align: center;
}
.view-header h2 {
  text-transform: uppercase;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
.view-header p.block-subtitle {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  padding: 15px 0;
  font-size: 1.25em;
  color: #777777;
}

/* Local tasks */
.nav-pills {
    margin-bottom: 15px;
}

/* Status messages */
.alert {
    margin-top: 1em;
}